/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background: linear-gradient(95deg, #0A0A0A, #06032b);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0A0A0A; */
}

.Navbar ul {
    list-style: none;
    display: flex;
}

.Navbar li {
    margin: 0;
    padding: 0;
}

.Navbar a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3 ease;
    border-radius: 5px;
}

.Navbar a:hover {
    background-color: #0A196A;
}
#cv {
    font-weight: 780;
    font-style: oblique;
}


/* Hero Section */
#hero {
    text-align: left;
    padding:10vh;
    /* background-color: #0A0A0A; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hero h1 {
    font-size: 3em;
    color: #2A6FEA;
}

#hero h2 {
    font-size: 2em;
    color: #007BFF;
}

#hero p {
    font-size: 1.4em;
    color: #FFFFFF;
}

#hero img {
    width: 50%;
    max-width: 350px;
    border-radius: 5px;
}
/* Social Media Icons */
#social img {
    width: 20%;
    max-width: 40px;
    padding: 5px;
    
}
.hero-text #contact {
    font-size: 2em;
    background-color: #0A0A0A;
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0A196A;
}

/* Sections */
section {
    text-align: center;
    padding: 10vh;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin: 0 auto;
}

section p {
    font-size: 1.2em;
    color: #FFFFFF;
}
section h2 {
    font-size: 1.5em;
}
section h3 {
    font-size: 1.3em;
    color: #007BFF;
}
section ul {
    list-style: none;
    padding: 0;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2A6FEA;
}

#about {
    padding: 20px 120px;
}
/* Projects Section */
#projects h2 {
    margin-top: 0px;
}
.project {
    margin-bottom: 30px;
    background-color: #1C1C1C;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.project h3 {
    color: #007BFF;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    overflow: hidden;
}
#project1, #project3 {
    transform: translateX(-10%);
    opacity: 0;
}

#project2 {
    transform: translateX(10%);
    opacity: 0;
}


#projects .project.animation {
    transform: translateX(0%) translateY(0%);
    opacity: 1;

}

/* Skills Section */
#skills {
    padding: 10vh;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.skills-container {
    width: 100%;   
    display: flex;

}

.skills-list {
    display: flex;
    gap: 15px;
    animation: slide 10s linear infinite;
}

.skills-list img {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1C1C1C;
    border-radius: 30px;
    white-space: nowrap;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* Duplicating the list for infinite effect */
.skills-list::after {
    content: "";
    display: inline-block;
    width: 100%;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/*back-to-top btn*/
#top {
    display: inline-flex;
    position: absolute;
    top: 25vh;
    right: 5vh;
    cursor: pointer;
    width: 5vh;
}

hr {
    border: 0;
    /* Remove default border */
    height: 1px;
    /* Set line thickness */
    background-color: #ccc;
    /* Line color */
    width: 60%;
    /* Set the width of the line */
    margin: 40px auto;
    /* Add space above and below the line */
}